.Header {
  height: auto;
  padding: 10px;
  border-bottom: 2px solid #A87A51;
  background-color: #949699;
}

.HeaderTitle {
  margin: 0 auto;
  font-size: 22px;
  text-shadow: rgb(192, 143, 24) 1px 1px 0px, rgb(192, 143, 24) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px, rgb(153, 153, 153) 5px 5px 15px;
  color: #FCE029 !important;
}
.HeaderTitle a {
  text-decoration: none;
}

.HeaderTitle a:visited {
  color: #FCE029 !important;
  text-decoration: none;
}

.HomeButton {
  margin: 0 auto;
  text-shadow: rgb(192, 143, 24) 1px 1px 0px, rgb(192, 143, 24) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px, rgb(153, 153, 153) 5px 5px 15px;
  color: #FCE029;
  text-decoration: none;
}

.HeaderLoggedInContainer a {
  text-decoration: none;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
}

.NavHeader {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
}

.HeaderTaglineWide {
  margin-left: 10px;
  font-weight: 200;
  display: none;
}

.HeaderNotLoggedIn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.LoginHeader {
  text-shadow: rgb(192, 143, 24) 1px 1px 0px, rgb(192, 143, 24) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px, rgb(153, 153, 153) 5px 5px 15px;
  color: #FCE029;
  text-decoration: none;
}

.LoginHeader a {
  text-decoration: none;
}

.HeaderLoggedIn{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.UserName {
  color: white;
  margin-right: 20px;
  display: none;
  text-shadow: rgb(192, 143, 24) 1px 1px 0px, rgb(192, 143, 24) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px, rgb(153, 153, 153) 5px 5px 15px;
  text-decoration: none;
}

.HeaderLoggedInContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
}

.HeaderNotLoggedIn a:last-child {
  background: #0A75BC;
  color: white;
  padding: 10px 15px 5px 15px;
  border: 2px solid #231F20;
  border-radius: 15px;
  margin-left: 10px;
  text-decoration: none;
}

.HeaderLogoutButton {
  border: 2px solid #231F20;
  background-color: #0A75BC;
  cursor: pointer;
  color: white;
  font-size: 1em;
  margin-left: 10px;
  padding: 10px 15px 5px 15px;
  border-radius: 15px;
  text-decoration: none;
  font-family: 'Luckiest Guy';
}

@media screen and (min-width: 765px) {
  .Header {
    align-items: baseline;
  }
  .HeaderTaglineWide {
    margin-left: 10px;
    padding-top: 2px;
    font-weight: 200;
    display: flex;
    text-shadow: rgb(192, 143, 24) 1px 1px 0px, rgb(192, 143, 24) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px, rgb(153, 153, 153) 5px 5px 15px;
    color: #FCE029 !important;
  }
  .UserName {
    color: white;
    margin-right: 20px;
    display: flex;
  }
  .Header a {
  }
}

@media screen and (min-width: 765px) {

  .Header h1 {
    font-size: 22pt;
  }
}
